


{{#each assessment}}
    <section class="ui stacked segment">
        <h2 class="ui header">
            {{assessments}}
        </h2>
        <a href="/assessment/{{id}}" class="ui icon button">
            <i class="icon folder open"></i>
        </a>

        </a>
    </section>
{{/each}}




