{{> welcomemenu }}

<div class="ui segment">
    <div class="ui two column very relaxed grid">
        <div class="center aligned column">


            </br></br></br></br></br></br></br>
            <h2 class="ui center aligned header">BMI Tracker</h2>

            <p></br>

                Fill in your assessments week by week and track your BMI. Trainers will comment on your progress and encourage you to keep going!
            </p>
        </div>
        <div class="column">
            <img class="ui fluid image" src="https://cdn.glitch.com/8a5c0251-af6a-496c-9779-67471a2d8436%2Fgym.jpg?v=1564407178172">
        </div>
    </div>
    <div class="ui vertical divider">

    </div>
</div>